body {
  background-color: #eee;
}

h1 {
  width: 150px;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: normal;
  z-index: 1;
  padding: 0.1rem 1rem;
  margin: 0 2px 0 40px;
}
.container {
  background-color: #333;
  border: 1px solid #fff;
  border-radius: 6px;
  padding: 6px 12px;
  width: 269px;
}

.led {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #333;
  border-radius: 3px;
  /*background-color: #000;*/
  margin: 0 1px;
}
.led.isSelf {
  margin: 0 3px;
  border: 1px solid #fff;
}

#led0 {background-color: #ff00ff;}
#led1 {background-color: #ffff00;}
#led2 {background-color: #00ffff;}
#led3 {background-color: #00ff07;}
#led4 {background-color: #772cb6;}

#visualization {
  height: 600px;
  background: #333 url('../images/hand.png') no-repeat -100px -40px;
  background-size: 500px;
  position: relative;
  width: 269px;
}

#band {
  position: absolute;
  top: 270px;
  left: 72px;
  width: 200px;
  height: 46px;
  transform: rotate(-12deg);
}
