.userContainer {
  display: inline-block;
  position: relative;
  padding: 5px;
}

.userContainer iframe {
  width: 318px;
  height: 700px;
}

.userContainer.isSelf {
  border: 3px solid black;
  background-color: #ff6;
  border-radius: 10px;
}
.userContainer.isSelf::after {
  content: 'self';
  display: block;
  text-align: center;
  font-style: italic;
 }
