body > section:first-child {
  display: flex;
  margin: 10px;
}
.userContainer {
  flex-basis: 300px;
  position: relative;
  padding: 5px;
  border: 3px solid #ccc;
  border-radius: 10px;
  margin: 0 10px;
}

.userContainer iframe {
  width: 300px;
  height: 600px;
  margin: 0 auto;
}

.userContainer.isSelf {
  border: 3px solid black;
  background-color: #ff6;
}
