<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.blebuzzypixel" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>BLE Buzzy Pixel</name>
    <description>
        Cordova app for pushing status to Adafruit NeoPixel LEDs via BLE
    </description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true"/>
</widget>
